// @import "~semantic-ui-sass/semantic-ui";

html {
    font-size: 12px;
}

.main-content {
    margin-top: 70px;
}


table {
    tr {
        td {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
    .times {
        width: 80px;
        text-align: center;
        &.align-left {
            text-align: left;
        }
    }
    .lottery-date {
        width: 120px;
        text-align: center;
        &.align-left {
            text-align: left;
        }
    }
    .number-area {
        width: 550px;
        div {
            display: flex;
            span {
                display: block;
                width: 20px;
                text-align: center;
                opacity: .8;
                &.one-degit {
                    width: 12px;
                }
                &.per-number {
                    background-color: #9fe9f3;
                }

                &.forecast-color {
                    background-color: #f39fd0;
                }
            }
        }

    }

    .bonus-number {
        text-align: center;
    }


}

